#sidebar {
    width:300px;
    position: fixed;
    height: 100%;
    background: #795548;
}

#sidebar #logoContainer {
    width: 100%;
    padding: 20px;
    height: auto;
    box-sizing: border-box;
    transition: background 150ms linear;
}

#sidebar #logoContainer h1 {
    width: 100%;
    font-family: 'Bungee Shade', cursive;
    color: #fff;
    font-size: 2.5em;
    text-decoration: none !important;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

#sidebar #mainMenu {
    list-style: none;
    padding: 0;
}

#sidebar #mainMenu a {
    text-decoration: none;
}

#sidebar #mainMenu a li {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    color: #fff;
    box-sizing: border-box;
    transition: background 150ms linear, color 150ms linear;
}

#sidebar #mainMenu a:hover li, 
#sidebar a:hover #logoContainer, 
#sidebar a.active #logoContainer {
    text-decoration: none;
    background: #4E342E;
    color: #fff;
}

#sidebar #userInfo {
    width: 100%;
    height: auto;
    bottom: 0;
    position: absolute;
    padding: 20px;
}
#sidebar #userInfo button {
    width: 100%;
}

#content {
    width:100%;
    padding: 10px 10px 10px 300px;
}