<div id="sidebar">

  <a [routerLink]="['']" routerLinkActive="active">
    <div id="logoContainer">
      <h1>{{ title }}</h1>
    </div>
  </a>

  <ul id="mainMenu">
    <a [routerLink]="['/pokemon/add']">
      <li>
        <i class="fa fa-plus"></i> Add Pokemon
      </li>
    </a>
    <a [routerLink]="['/']">
      <li>
        <i class="fa fa-globe"></i> Page 2
      </li>
    </a>
    <a [routerLink]="['/']">
      <li>
        <i class="fa fa-globe"></i> Page 3
      </li>
    </a>
  </ul>

</div>
<div id="content">
  <router-outlet></router-outlet>
</div>